@import url('https://fonts.googleapis.com/css?family=Comfortaa');

@keyframes fadein {
    0%{opacity:0;}

    100%{opacity:1;}
}

body {
    background-color:#f9f9f9;
    margin-bottom:20px;
    font-family:Comfortaa;
    animation:fadein 1.5s;
    
}
.container-full {
    margin: 0 auto;
    width: 100%;
  }

#sidemain span{text-align: center;}

#main
{
    padding-right:50px;
}

@media only screen and (max-width: 1000px){
    #main
    { 
        padding-right:0px;
    }
}

.container {
    width:100%;
}

a {
    text-decoration: none;
    color: black;
    transition-duration: 0.1s;
}

a img{
    filter: opacity(.5) drop-shadow(0 0 0 black);
    transition:.5s ease;
}

a:hover{
    text-decoration: none;
    color: rgb(207, 90, 90);
    transition-duration: 0.1s;
}

a:hover img{
    filter: opacity(.5) drop-shadow(0 0 0 rgb(78, 0, 0));
    transition:.5s ease;
}

.navigation {
    font-size:110%;
    line-height: 50px;
}

.navigation br
{
    display: block;
    margin: 50px 0;
}

#gallery{
    border-top:solid 3px rgb(180, 212, 207);
    margin-top:30px;
    padding-bottom:30px;
    padding-top:30px;
    border-bottom:solid 3px rgb(46, 202, 80);
}


.overlay{
    position:absolute;
    opacity: 0;
    top:0;
    bottom:0;
    left:0;
    transition:.5s;
    background-color:rgba(180, 212, 207, 0.623);
    border-radius: 30px;
    height:100%;
    width:100%;
}
.overlaytext{
    position: absolute;
    top:30%;
    left:50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    color:white;
    font-size:40px;
}

.col-md-4:hover .overlay{
    opacity:1;
}

.col-md-4{
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0) scale(1.0, 1.0);
    transform: translateZ(0);
}
.col-md-4:hover #galleryimg{
    filter: blur(5px);
    transition:.5s ease;
    
}

.overlay #insta {
    top:30%;
    left:50%;
    -webkit-transform: translate(-50%, +100%);
    -ms-transform: translate(-50%, +100%);
    transform: translate(-50%, +100%);
    position:absolute;
    transition:.5s ease;
}

#insta:hover{
    filter: opacity(.5) drop-shadow(0 0 0 red);
    transition:.5s ease;
}
